<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Fraud Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Credit Card Fraud Detection</h1>
        <form action="/predict" method="post">
            <div class="features-container">
                <div class="label-input-group">
                    <label for="feature1">Time:</label>
                    <input type="text" id="feature1" name="feature1">
                </div>
                <div class="label-input-group">
                    <label for="feature2">V1:</label>
                    <input type="text" id="feature2" name="feature2">
                </div>
                <div class="label-input-group">
                    <label for="feature3">V2:</label>
                    <input type="text" id="feature3" name="feature3">
                </div>
                <div class="label-input-group">
                    <label for="feature4">V3:</label>
                    <input type="text" id="feature4" name="feature4">
                </div>
                <div class="label-input-group">
                    <label for="feature5">V4:</label>
                    <input type="text" id="feature5" name="feature5">
                </div>
                <div class="label-input-group">
                    <label for="feature6">V5:</label>
                    <input type="text" id="feature6" name="feature6">
                </div>
                <div class="label-input-group">
                    <label for="feature7">V6:</label>
                    <input type="text" id="feature7" name="feature7">
                </div>
                <div class="label-input-group">
                    <label for="feature8">V7:</label>
                    <input type="text" id="feature8" name="feature8">
                </div>
                <div class="label-input-group">
                    <label for="feature9">V8:</label>
                    <input type="text" id="feature9" name="feature9">
                </div>
                <div class="label-input-group">
                    <label for="feature10">V9:</label>
                    <input type="text" id="feature10" name="feature10">
                </div>
                <div class="label-input-group">
                    <label for="feature11">V10:</label>
                    <input type="text" id="feature11" name="feature11">
                </div>
                <div class="label-input-group">
                    <label for="feature12">V11:</label>
                    <input type="text" id="feature12" name="feature12">
                </div>
                <div class="label-input-group">
                    <label for="feature13">V12:</label>
                    <input type="text" id="feature13" name="feature13">
                </div>
                <div class="label-input-group">
                    <label for="feature14">V13:</label>
                    <input type="text" id="feature14" name="feature14">
                </div>
                <div class="label-input-group">
                    <label for="feature15">V14:</label>
                    <input type="text" id="feature15" name="feature15">
                </div>
                <div class="label-input-group">
                    <label for="feature16">V15:</label>
                    <input type="text" id="feature16" name="feature16">
                </div>
                <div class="label-input-group">
                    <label for="feature17">V16:</label>
                    <input type="text" id="feature17" name="feature17">
                </div>
                <div class="label-input-group">
                    <label for="feature18">V17:</label>
                    <input type="text" id="feature18" name="feature18">
                </div>
                <div class="label-input-group">
                    <label for="feature19">V18:</label>
                    <input type="text" id="feature19" name="feature19">
                </div>
                <div class="label-input-group">
                    <label for="feature20">V19:</label>
                    <input type="text" id="feature20" name="feature20">
                </div>
                <div class="label-input-group">
                    <label for="feature21">V20:</label>
                    <input type="text" id="feature21" name="feature21">
                </div>
                <div class="label-input-group">
                    <label for="feature22">V21:</label>
                    <input type="text" id="feature22" name="feature22">
                </div>
                <div class="label-input-group">
                    <label for="feature23">V22:</label>
                    <input type="text" id="feature23" name="feature23">
                </div>
                <div class="label-input-group">
                    <label for="feature24">V23:</label>
                    <input type="text" id="feature24" name="feature24">
                </div>
                <div class="label-input-group">
                    <label for="feature25">V24:</label>
                    <input type="text" id="feature25" name="feature25">
                </div>
                <div class="label-input-group">
                    <label for="feature26">V25:</label>
                    <input type="text" id="feature26" name="feature26">
                </div>
                <div class="label-input-group">
                    <label for="feature27">V26:</label>
                    <input type="text" id="feature27" name="feature27">
                </div>
                <div class="label-input-group">
                    <label for="feature28">V27:</label>
                    <input type="text" id="feature28" name="feature28">
                </div>
                <div class="label-input-group">
                    <label for="feature29">V28:</label>
                    <input type="text" id="feature29" name="feature29">
                </div>
                <div class="label-input-group">
                    <label for="feature30">Amount:</label>
                    <input type="text" id="feature30" name="feature30">
                </div>
            </div>
            <div class="input-submit-group">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>
